<div id="navbarId" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header" style="display:inline-block">
            <div class="row">
                <div class="col-sm-6 navbar-brand" style="color:#ff9900; font-size:22px; ">
                    <strong>Demo</strong>
                </div>
            </div>
    </div>
</div>
